<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Enter Data</h1>
    <form method="POST" action="/submit">

    <table>
        <thead>
        <tr>
            <td>Medicine Name</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tr>
            <td><input type="text" id="medicine_name" name="medicine_name" placeholder="Name of Medicine" ></td>
            <td> <input type="text"  id="Quantity" name="quantity" placeholder="0" ></td>
            <td> <input type="text" id="price" name="Price" placeholder="0" ></td>
        </tr>

    </table>

        <input type="submit" value="Submit">


    </form>

</body>
</html>
